{% extends 'base.twig' %}

{% block content %}
<div style="text-align: center;">
<img src="https://www.com2sica.cnrs.fr/wp-content/uploads/2020/12/Logo-universite-Angers-RVB-1024x402.png" width=60% height=30%/>
</div>
<p>Master 1 Data Science - Projet BDDR</p>
<p>Bienvenue sur notre site!</p>
<p>Sur ce site, vous pouvez faire des recherches sur des articles liés à la covid19.</p>
<p>Ce site a été crée par Zeynep Balikci et Mariama Mbaye.</p>
{% endblock %}
