{% extends 'base.twig' %}

{% block content %}
<h3>Recherche</h3>
  
<form method="POST">
{% csrf_token %}
<p>
<label for="username"> Titre d'un article </label>
<input id="username" type="text" name="username">

<button type="submit">Rechercher</button></p>
</form>

{% if username is not null and username != ""%}
<p>Voici les articles qui contiennent "{{ username }}" dans leur titre. </p>
<ol type="1">
  {% for p in liste_articles %}
    <li id="li2"><a class="test external" href="/appli_covid19/articles/{{ p.id_article }}">{{ p.title }}</a></li>
  {% endfor %}
</ol>
{% endif %}
{% endblock %}
